.wrapper
    display: grid
    grid-gap: 20px
    grid-template-rows: auto
.holder
    max-width: 300px
    display: grid
    grid-template-columns: auto
    justify-items: center
    align-items: center
    grid-gap: 20px
.mat-tab-group.active
    filter: opacity(15%)
.mat-progress-bar
    display: none
.mat-progress-bar.active
    display: block
    position: fixed
    top: 50%
    z-index: 3