<mat-tab-group [selectedIndex]="tabIndex" (selectedIndexChange)="changeTabIndex($event)">
  <mat-tab label="Ngân hàng">
    <app-list-bank (onSelectBank)="selectBankHandler($event)"></app-list-bank>
    <button
      style="margin-left: 2vw; margin-top: 2vh;"
      color="accent"
      mat-raised-button
      (click)="openDialog()"
    >
      Create new bank
    </button>
    <button
      style="margin-left: 2vw; margin-top: 2vh;"
      color="primary"
      mat-raised-button
      (click)="openAnotherDialog()"
    >
      Create new rate
    </button>
  </mat-tab>
  <mat-tab label="Lãi suất">
    <app-list-rate [bank]="bank"></app-list-rate>
  </mat-tab>
</mat-tab-group>
