<form [formGroup]="form" (ngSubmit)="save()">
  <mat-select
    formControlName="bank"
    placeholder="Ngân hàng"
    name="bank"
  >
    <mat-option *ngFor="let bank of $banks | async" [value]="bank.normalized">
      {{ bank.name }}
    </mat-option>
  </mat-select>
  <mat-form-field>
    <input matInput placeholder="Lãi suất" formControlName="value" value="" />
  </mat-form-field>
  <mat-select
    placeholder="Kỳ hạn"
    formControlName="period"
    name="period"
  >
    <mat-option *ngFor="let period of periods" [value]="period.value">
      {{ period.viewValue }}
    </mat-option>
  </mat-select>
  <mat-form-field>
    <input
      matInput
      formControlName="threshold"
      placeholder="Số tiền tối thiểu"
      value=""
    />
  </mat-form-field>
  <button mat-raised-button [disabled]="!form.valid">Tạo</button>
</form>
