<div class="filter-container">
  <div class="search-header">
    <h3 class="header-line">Tìm kiếm</h3>
  </div>
  <div class="flex-filter">
    <div class="search-area">
      <div class="search-content">
        <input type="text" class="search-field" />
        <div class="search-icon"></div>
      </div>
    </div>
    <div class="loc-area">
      <mat-expansion-panel (closed)="(true)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Tỉnh thành
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="flex-time">
          <mat-checkbox [checked]="true">Hà Nội</mat-checkbox>
          <mat-checkbox [checked]="true">TP.HCM</mat-checkbox>
          <mat-checkbox [checked]="true">Đà Nẵng</mat-checkbox>
          <mat-checkbox [checked]="true">Hải Phòng</mat-checkbox>
        </div>
      </mat-expansion-panel>
      <!-- <div class="loc-flex">
        <mat-checkbox *ngFor="let loc of locs">{{ loc.name }}</mat-checkbox>
      </div> -->
    </div>
    <div class="money-area">
      <div class="money-header">
        Số tiền
      </div>
      <div class="money-content">
        <!-- //TODO slider with 2 handlers -->
      </div>
    </div>
    <div class="time-area">
      <mat-expansion-panel (closed)="(true)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Thời gian
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-expansion-panel (closed)="(true)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Gửi tiền
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="flex-time">
            <mat-checkbox>Không kỳ hạn</mat-checkbox>
            <mat-checkbox>1 tháng</mat-checkbox>
            <mat-checkbox>3 tháng</mat-checkbox>
            <mat-checkbox>6 tháng</mat-checkbox>
            <mat-checkbox>9 tháng</mat-checkbox>
            <mat-checkbox [checked]="true">12 tháng</mat-checkbox>
            <mat-checkbox>24 tháng</mat-checkbox>
            <mat-checkbox>36 tháng</mat-checkbox>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel (closed)="(true)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Rút lãi
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="flex-time">
            <mat-checkbox [checked]="true">Đầu kỳ</mat-checkbox>
            <mat-checkbox [checked]="true">Tháng</mat-checkbox>
            <mat-checkbox [checked]="true">Quý</mat-checkbox>
            <mat-checkbox [checked]="true">Năm</mat-checkbox>
            <mat-checkbox [checked]="true">Cuối kỳ</mat-checkbox>
          </div>
        </mat-expansion-panel>
      </mat-expansion-panel>
    </div>
    <div class="buttons-area">
      <div class="btn-content">
        <div class="cancel-btn">
          Hủy
        </div>
        <div class="filter-btn">
          Tìm kiếm
        </div>
      </div>
    </div>
  </div>
</div>
