<div class="interest-container">
  <div class="flex-container">
    <div class="data-container">
      <div class="data-header" style="height: 250px;">
        <img class="img-header" src="assets/images/bg.png" alt="" />
        <div class="post-ck" *ngIf="best | async as item">
          <h2>
            Lãi suất tiền gửi cao nhất thị trường <br /><span
              >{{ item[0]?.value }}/năm</span
            >
            kỳ hạn {{ item[0]?.period }} tháng
          </h2>
          <div class="ck-pr">
            <button
              class="rglr"
              [routerLink]="['/highest']"
              [queryParams]="{ value: item[0]?.value }"
            >
              Xem chi tiết
            </button>
            <button
              class="rglr"
              (click)="openDialog(item[0]?.bank, item[0]?.period)"
            >
              Đăng ký
            </button>
          </div>
        </div>
        <p *ngIf="date" class="update">Ngày cập nhật: {{ toDate(date) }}</p>
      </div>
      <mat-tab-group class="tabs-area">
        <mat-tab label="Tại quầy">
          <div class="flex-data" *ngIf="$banks">
            <app-row *ngIf="tableStyle === 'row'"></app-row>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
