<div class="interest-container">
  <div class="flex-container">
    <div class="data-container">
      <div class="data-header">
        <div class="post-ck" *ngIf="best | async as item">
          <h2>
            Lãi suất tiền gửi cao nhất thị trường <br /><span
              >{{ item[0]?.value }}/năm</span
            >
          </h2>
          <div class="ck-pr">
            <button
              class="rglr"
              [routerLink]="['/highest']"
              [queryParams]="{ value: item[0]?.value }"
            >
              Xem chi tiết
            </button>
            <button
              class="rglr"
              (click)="openDialog(item[0]?.bank, item[0]?.period)"
            >
              Đăng ký
            </button>
          </div>
        </div>
      </div>
      <mat-tab-group class="tabs-area">
        <mat-tab label="Tại quầy">
          <div class="flex-data" *ngIf="$banks">
            <app-row *ngIf="tableStyle === 'row'"></app-row>
          </div>
        </mat-tab>
      </mat-tab-group>
      <p *ngIf="date" class="update">Ngày cập nhật: {{ toDate(date) }}</p>
    </div>
  </div>

  <div class="IpmmX">
    <div class="fassE">
      <h2 class="mmkKl">
        Cập nhật lãi suất ngân hàng.
      </h2>
    </div>
    <div class="mMMkl">
      <div class="klLie mmnSC">
        <img src="/assets/images/best-1.png" alt="Tốt nhất" />
        <p class="pmilK">Tốt nhất</p>
      </div>
      <div class="klLie KLSee">
        <img src="/assets/images/cp-1.png" alt="So sánh" />
        <p class="pmilK">So sánh</p>
      </div>
      <div class="klLie iiOSa">
        <img src="/assets/images/pc-1.png" alt="Chính sách" />
        <p class="pmilK">Chính sách</p>
      </div>
      <div class="klLie UyySd">
        <img src="/assets/images/sv-1.png" alt="Dịnh vụ" />
        <p class="pmilK">Dịch vụ</p>
      </div>
    </div>
  </div>
</div>
