.flex-container
  flex-flow: row nowrap
  justify-content: space-evenly
  align-items: flex-start
  display: flex
.tool-container
  display: flex
  flex-flow: column nowrap
  justify-content: flex-start
  align-items: flex-start
  max-width: 290px
$breakpoint: "1500px"
@media all and ( max-width: $breakpoint )
  app-row,app-table,app-line
    width: 100%!important
    // display: none
  .flex-table 
    display: block!important
    & > .flex-cell
      width: 100%
      &.foot
        margin-bottom: 1em
  .flex-data
    flex-wrap: wrap!important
.data-container
  border-left: 1px solid rgba(0,0,0,0.14)
  display: block 
  position: relative
  width: 100%
app-table, app-row
  border-right: 1px solid rgba(0,0,0,0.14)
app-row,app-line
  width: 71.5%
.flex-data
  display: flex
  flex-flow: row nowrap
  justify-content: space-around
  align-items: flex-start
.data-header
  border-bottom: 1px solid rgba(0,0,0,0.14)
.header-line
  margin-left: 1.8vh