<div class="interest-container">
  <div class="flex-container">
    <div class="tool-container">
      <app-filter></app-filter>
      <app-setting
        (display)="showChart($event)"
        (tableStyleChange)="tableStyleHandler($event)"
      ></app-setting>
    </div>
    <div class="data-container">
      <div class="data-header">
        <h2 class="header-line">Lãi suất tiền gửi</h2>
        <p *ngIf="date" class="update">Ngày cập nhật: {{ toDate(date) }}</p>
      </div>
      <mat-tab-group class="tabs-area">
        <mat-tab label="Tại quầy">
          <div class="flex-data" *ngIf="$banks">
            <app-table
              *ngIf="tableStyle === 'box'"
              [$banks]="$banks"
            ></app-table>

            <app-row *ngIf="tableStyle === 'row'"></app-row>
            <app-line
              *ngIf="tableStyle === 'line'"
              [$banks]="$banks"
            ></app-line>
            <!-- <app-chart [$banks]="$banks" period="12m"></app-chart> -->
          </div>
        </mat-tab>
        <mat-tab label="Online">
          <!-- <div class="flex-data" *ngIf="$banks">
            <app-table [$banks]="$banks"></app-table>
            <app-chart [$banks]="$banks"></app-chart>
          </div> -->
          <i>Đang cập nhật</i>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
