<div class="container">
  <div class="AkkDD" *ngIf="abb">
    <h2 style="max-width: 80vw;">
      Sản phẩm tiền gửi linh hoạt tại quầy ưu đãi dành cho Khách hàng cá nhân
      của ngân hàng ABBank
    </h2>
    <table style="border: 1px solid rgba(0,0,0,0.225);text-align: center;">
      <thead>
        <tr style="background-color: yellow;">
          <td style="width: 250px;">Kỳ hạn</td>
          <td style="width: 300px;">Lãi suất tại quầy</td>
        </tr>
      </thead>
      <tbody>
        <tr style="background-color: lightblue;">
          <td>
            01-03 tháng
          </td>
          <td>4.75%</td>
        </tr>
        <tr style="background-color: lightblue;">
          <td>
            06 tháng
          </td>
          <td>6.80%</td>
        </tr>
        <tr style="background-color: lightblue;">
          <td>
            09 tháng
          </td>
          <td>7.00%</td>
        </tr>
        <tr style="background-color: lightblue;">
          <td>
            12 tháng
          </td>
          <td>7.60%</td>
        </tr>
        <tr style="background-color: lightblue;">
          <td>
            13 tháng
          </td>
          <td>8.30%</td>
        </tr>
        <tr style="background-color: lightblue;">
          <td>
            18 tháng
          </td>
          <td>7.70%</td>
        </tr>
        <tr style="background-color: lightblue;">
          <td>
            24 tháng
          </td>
          <td>7.70%</td>
        </tr>
        <tr style="background-color: lightblue;">
          <td>
            36 tháng
          </td>
          <td>7.70%</td>
        </tr>
        <tr style="background-color: lightblue;">
          <td>
            48 tháng
          </td>
          <td>7.70%</td>
        </tr>
        <tr style="background-color: lightblue;">
          <td>
            60 tháng
          </td>
          <td>7.70%</td>
        </tr>
      </tbody>
    </table>
    <p style="max-width: 560px;">
      <i style="font-style: italic; padding-left: 2vw;">Ghi chú: </i> Đối với
      số tiền gửi trên 1 tỷ thì lãi suất của các kỳ hạn trên 6 tháng sẽ được
      cộng 0.2% theo thẩm quyền và phê duyệt theo từng thời điểm.
    </p>
  </div>
  <div class="mIjkV" *ngIf="vib">
    <h2 style="max-width: 80vw;" class="hdJJ">
      Sản phẩm tiền gửi linh hoạt tại quầy ưu đãi dành cho Khách hàng cá nhân
      của ngân hàng VIB
    </h2>
    <div class="btMMc">
      <table class="death">
        <thead>
          <tr>
            <th>Kỳ hạn/Số tiền</th>
            <th colspan="4">Lãi suất tại quầy</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td><100 triệu</td>
            <td>Từ 100 triệu đến < 1 tỷ</td>
            <td>Từ 1 tỷ đến < 5 tỷ</td>
            <td>Từ 5 tỷ trở lên</td>
          </tr>
          <tr>
            <td>24 tháng Flexi 6 tháng</td>
            <td>7.2%</td>
            <td>7.3%</td>
            <td>7.3%</td>
            <td>7.3%</td>
          </tr>
          <tr>
            <td>36 tháng Flexi 12 tháng</td>
            <td>7.2%</td>
            <td>7.5%</td>
            <td>7.5%</td>
            <td>7.5%</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="NoTob">
      <h3>Ghi chú</h3>
      <ol>
        <li>
          24 tháng Flexi 6 tháng: Khách hạn sẽ gửi tiết kiệm với kỳ hạn 24 tháng
          và hưởng lãi suất theo kỳ hạn 24 tháng đó nhưng 6 tháng là khách hàng
          đã có thể nhận lãi và rút gốc.
        </li>
        <li>
          Và đối với số tiền gửi trên 1 tỷ thì lãi suất sẽ được cộng thêm từ 0.1
          - 0.2% theo thẩm quyền
        </li>
      </ol>
    </div>
  </div>
  <div class="mmFdS" style="width: 100%;" *ngIf="scb">
    <h2>
      Sản phẩm tiền gửi linh hoạt tại quầy ưu đãi dành cho Khách hàng cá nhân
      của ngân hàng SCB
    </h2>
    <table style="border: 1px solid rgba(0, 0, 0, 0.025)">
      <thead style="background-color: coral;">
        <tr>
          <th style="background-color: hotpink;">Thời gian nắm giữ (ngày)</th>
          <th>15-29</th>
          <th>30-59</th>
          <th>60-89</th>
          <th>90-119</th>
          <th>120-149</th>
          <th>150-179</th>
          <th>180-189</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            CCTG ngắn hạn (sơ cấp)
          </td>
          <td>5.70%</td>
          <td>5.90%-6.00%</td>
          <td>6.10%-6.20%</td>
          <td>6.30%-6.40%</td>
          <td>6.50%-6.60%</td>
          <td>6.70%-6.75%</td>
          <td>6.80%</td>
        </tr>
      </tbody>
    </table>
    <table style="border: 1px solid rgba(0, 0, 0, 0.025)">
      <thead style="background-color: coral;">
        <tr>
          <th style="background-color: hotpink;">Thời gian nắm giữ (ngày)</th>
          <th>185-209</th>
          <th>210-239</th>
          <th>240-269</th>
          <th>270-299</th>
          <th>300-329</th>
          <th>330-359</th>
          <th>360-389</th>
          <th>390-419</th>
          <th>420-449</th>
          <th>450-469</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            CCTG dài hạn 469 ngày (sơ cấp)
          </td>
          <td>7.85%</td>
          <td>7.95%</td>
          <td>8.05%</td>
          <td>8.10%</td>
          <td>8.15%</td>
          <td>8.20%</td>
          <td>8.45%</td>
          <td>8.55%</td>
          <td>8.65%</td>
          <td>8.75%</td>
        </tr>
      </tbody>
    </table>
    <table style="border: 1px solid rgba(0, 0, 0, 0.025)">
      <thead style="background-color: coral;">
        <tr>
          <th style="background-color: hotpink;">Kỳ hạn sản phẩm</th>
          <th>6 tháng</th>
          <th>7 tháng</th>
          <th>8 tháng</th>
          <th>9 tháng</th>
          <th>10 tháng</th>
          <th>11 tháng</th>
          <th>12 tháng</th>
          <th>13 tháng</th>
          <th>15 tháng</th>
          <th>18 tháng</th>
          <th>24 tháng</th>
          <th>36 tháng</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            TL linh hoạt
          </td>
          <td>7.10%</td>
          <td></td>
          <td></td>
          <td>7.10%</td>
          <td></td>
          <td></td>
          <td>7.50%</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>
            TL đắc lộc tài
          </td>
          <td>8.00%</td>
          <td>8.05%</td>
          <td>8.10%</td>
          <td>8.15%</td>
          <td>8.20%</td>
          <td>8.25%</td>
          <td>8.45%</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>
            TK đắc lộc phát
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>8.55%</td>
          <td>8.55%</td>
          <td>8.55%</td>
          <td>8.35%</td>
          <td>8.35%</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="tmkks" *ngIf="tcb">
    <h2 style="max-width: 80vw;">
      Sản phẩm tiền gửi linh hoạt tại quầy ưu đãi dành cho Khách hàng cá nhân
      của ngân hàng Techcombank
    </h2>
    <div
      style="display: flex;flex-flow: column;justify-content: flex-start;align-items: center;"
    >
      <table style="border: 1px solid rgba(0,0,0,0.225);">
        <thead>
          <tr style="background-color: orange;">
            <th>Kỳ hạn/Số tiền</th>
            <th colspan="3">Lãi suất tại quầy</th>
          </tr>
        </thead>
        <tbody>
          <tr style="background-color: lightblue;">
            <td></td>
            <td>KH thường</td>
            <td>KH ưu tiên</td>
            <td>KH vip</td>
          </tr>
          <tr style="background-color: lightblue;">
            <td>03 tháng</td>
            <td>4.65%</td>
            <td>4.80%</td>
            <td>4.80%</td>
          </tr>

          <tr style="background-color: lightblue;">
            <td>06 tháng</td>
            <td>6.30%</td>
            <td>6.40%</td>
            <td>6.40%</td>
          </tr>
          <tr style="background-color: lightblue;">
            <td>12 tháng</td>
            <td>6.40%</td>
            <td>6.50%</td>
            <td>6.50%</td>
          </tr>
          <tr style="background-color: lightblue;">
            <td>13 tháng</td>
            <td>6.20%</td>
            <td>6.30%</td>
            <td>6.30%</td>
          </tr>
          <tr style="background-color: lightblue;">
            <td>18 tháng</td>
            <td>6.50%</td>
            <td>6.50%</td>
            <td>6.50%</td>
          </tr>
          <tr style="background-color: lightblue;">
            <td>24 tháng</td>
            <td>6.30%</td>
            <td>6.40%</td>
            <td>6.40%</td>
          </tr>
          <tr style="background-color: lightblue;">
            <td>36 tháng</td>
            <td>6.30%</td>
            <td>6.40%</td>
            <td>6.40%</td>
          </tr>
        </tbody>
      </table>
      <h3>Ghi chú</h3>
      <ul style="list-style-type: decimal">
        <li>
          KH ưu tiên: khách hàng có tài sản ở Techcombank ít nhất trong 3 tháng
          từ 500 triệu
        </li>
        <li>
          KH vip: khách hàng có tài sản ở Techcombank ít nhất trong 3 tháng từ 1
          tỷ
        </li>
        <li>Tài sản ở Techcombank: tiền gửi, trái phiếu, chứng chỉ quỹ</li>
        <li>
          Các đặc quyền của KH vip ở Techcombank
          <ul style="list-style: lower-alpha;">
            <li>
              Miễn phí các giao dịch và thanh toán
            </li>
            <li>Lãi suất công thêm so với mức áp dụng KH thường từ 0.1-0.2%</li>
            <li>
              Giảm giá trực tiếp trên GTHĐ trái phiếu và hoàn tiền đối với Chứng
              chỉ quỹ
            </li>
            <li>
              Hoàn phí bảo hiểm nhân thọ năm đầu
            </li>
            <li>
              Hưởng ưu đãi về chính sách giá/phí và hạn mức phê duyệt trước
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
