<div class="line-container">
  <div class="header line-content"></div>

  <div class="line-content" *ngFor="let item of banks">
    <div class="cell-content logo">
      <img [src]="getLogo(item.code)" [alt]="item.code" />
    </div>
    <div class="cell-data">
      <div class="cell-content unlimit">
        <div class="rate-content">
          {{ item.interestRates.unlimit.value }}
        </div>
        <div class="detail-content">
          <p>
            Số tiền gửi:
            {{ getThreshold(item.interestRates.unlimit.threshold) }}
          </p>
          <p>Áp dụng cho: {{ getLoc(item.interestRates.unlimit.loc) }}</p>
          <p>
            TG nhận lãi: {{ getWithdraw(item.interestRates.unlimit.withdraw) }}
          </p>
        </div>
      </div>
      <div class="cell-content oneM">
        <div class="rate-content">
          {{ item.interestRates.oneM.value }}
        </div>
        <div class="detail-content">
          <p>
            Số tiền gửi: {{ getThreshold(item.interestRates.oneM.threshold) }}
          </p>
          <p>Áp dụng cho: {{ getLoc(item.interestRates.oneM.loc) }}</p>
          <p>
            TG nhận lãi: {{ getWithdraw(item.interestRates.oneM.withdraw) }}
          </p>
        </div>
      </div>
      <div class="cell-content threeM">
        <div class="rate-content">
          {{ item.interestRates.threeM.value }}
        </div>
        <div class="detail-content">
          <p>
            Số tiền gửi: {{ getThreshold(item.interestRates.threeM.threshold) }}
          </p>
          <p>Áp dụng cho: {{ getLoc(item.interestRates.threeM.loc) }}</p>
          <p>
            TG nhận lãi: {{ getWithdraw(item.interestRates.threeM.withdraw) }}
          </p>
        </div>
      </div>
      <div class="cell-content sixM">
        <div class="rate-content">
          {{ item.interestRates.sixM.value }}
        </div>
        <div class="detail-content">
          <p>
            Số tiền gửi: {{ getThreshold(item.interestRates.sixM.threshold) }}
          </p>
          <p>Áp dụng cho: {{ getLoc(item.interestRates.sixM.loc) }}</p>
          <p>
            TG nhận lãi: {{ getWithdraw(item.interestRates.sixM.withdraw) }}
          </p>
        </div>
      </div>
      <div class="cell-content twelveM">
        <div class="rate-content">
          {{ item.interestRates.twelveM.value }}
        </div>
        <div class="detail-content">
          <p>
            Số tiền gửi:
            {{ getThreshold(item.interestRates.twelveM.threshold) }}
          </p>
          <p>Áp dụng cho: {{ getLoc(item.interestRates.twelveM.loc) }}</p>
          <p>
            TG nhận lãi: {{ getWithdraw(item.interestRates.twelveM.withdraw) }}
          </p>
        </div>
      </div>
      <div class="cell-content eighteenM">
        <div class="rate-content">
          {{ item.interestRates.eighteenM.value }}
        </div>
        <div class="detail-content">
          <p>
            Số tiền gửi:
            {{ getThreshold(item.interestRates.eighteenM.threshold) }}
          </p>
          <p>Áp dụng cho: {{ getLoc(item.interestRates.eighteenM.loc) }}</p>
          <p>
            TG nhận lãi:
            {{ getWithdraw(item.interestRates.eighteenM.withdraw) }}
          </p>
        </div>
      </div>
      <div class="cell-content twentyFourM">
        <div class="rate-content">
          {{ item.interestRates.twentyFourM.value }}
        </div>
        <div class="detail-content">
          <p>
            Số tiền gửi:
            {{ getThreshold(item.interestRates.twentyFourM.threshold) }}
          </p>
          <p>Áp dụng cho: {{ getLoc(item.interestRates.twentyFourM.loc) }}</p>
          <p>TG nhận lãi: {{ getWithdraw(item.interestRates.withdraw) }}</p>
        </div>
      </div>
      <div class="cell-content thirtySixM">
        <div class="rate-content">
          {{ item.interestRates.thirtySixM.value }}
        </div>
        <div class="detail-content">
          <p>
            Số tiền gửi:
            {{ getThreshold(item.interestRates.thirtySixM.threshold) }}
          </p>
          <p>Áp dụng cho: {{ getLoc(item.interestRates.thirtySixM.loc) }}</p>
          <p>
            TG nhận lãi:
            {{ getWithdraw(item.interestRates.thirtySixM.withdraw) }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
