<div class="detail-container">
  <div class="flex-container">
    <div class="left-area">
      <app-info [info$]="info$"></app-info>
      <app-new></app-new>
    </div>
    <div class="right-area">
      <div class="content-area">
        <app-search></app-search>
        <app-content [rate]="bank" [utility]="utility"></app-content>
      </div>
      <div class="chart-area">
        <app-chart [period]="period" [top]="top"></app-chart>
        <app-change></app-change>
      </div>
    </div>
  </div>
</div>
