<div class="detail-container" *ngIf="bank">
  <div class="hmLsd">
    <h2>{{ bank.name }}</h2>
  </div>
  <div class="tbhd">
    <table>
      <thead>
        <tr>
          <th>Kỳ hạn</th>
          <th>Từ 1 triệu trở lên</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="5" class="medTdr">
            Kỳ hạn nổi bật
          </td>
        </tr>
        <tr *ngFor="let item of main">
          <td>{{ item.period }} tháng</td>
          <td>
            <p [ngClass]="{ max: max(item.value) }">
              {{ toDecimal(item.value) }}
            </p>
          </td>
        </tr>
        <tr>
          <td colspan="5" class="medTdr">
            Kỳ hạn khác
          </td>
        </tr>
        <tr *ngFor="let item of others">
          <td>{{ item.period }} tháng</td>
          <td>
            <p [ngClass]="{ max: max(item.value) }">
              {{ toDecimal(item.value) }}
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
