<div class="mjIjj">
  <div class="mSpjf" #loader>
    <img src="/assets/images/logo.png" alt="" />
  </div>
  <div class="mmWdd mieee" #search>
    <input type="number" #searchBar placeholder="tìm lãi suất (%)" />
  </div>
  <div #main class="mmXij">
    <h2>Lãi suất tốt nhất hiện nay</h2>
    <div class="bMbjm" *ngIf="best">
      <p>
        {{ toDecimal(max()) }}
      </p>
    </div>
  </div>
  <div class="bmknE">
    <h2>
      Những ngân hàng sau đây có mức lãi suất trên:
    </h2>
    <table>
      <thead>
        <tr>
          <th>Ngân hàng</th>
          <th>Lãi suất</th>
          <th>Kỳ hạn</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rate of $rates | async">
          <td>
            {{ rate.bank }}
          </td>
          <td>
            {{ rate.value }}
          </td>
          <td>{{ rate.period }} tháng</td>
          <td>
            <div class="mkiEE" (click)="detail(rate.bank)">
              <mat-icon>add</mat-icon>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="hhUej">
    <h3>Các gói nổi bật khác</h3>
    <div class="abcCa" *ngFor="let rate of $others | async">
      <img class="miijE" src="/assets/images/sk.png" alt="" />
      <div class="mXjjd" (click)="redirect(rate._id)">
        Lãi {{ rate.value }} kỳ hạn {{ rate.period }} tháng
      </div>
    </div>
  </div>
  <div class="refmm">
    <a [routerLink]="['/compare']">
      So sánh lãi suất
    </a>
  </div>
</div>
