thead
  background-color: coral
table.death
  text-align: center
  border: 1px solid rgba(0, 0, 0, 0.225)
td
  border: 1px solid rgba(0, 0, 0, 0.225)
.container
  display: flex
  flex-flow: row
  justify-content: space-around
  align-items: center
.mIjkV,.mmFdS
  max-width: 724px
.container
  margin-top: 7vh