<div class="container">
  <div class="mIjkV" *ngIf="vib">
    <h2 class="hdJJ">
      Sản phẩm tiền gửi linh hoạt tại quầy ưu đãi nhất thị trường dành cho Khách
      hàng cá nhân của ngân hàng VIB
    </h2>
    <div class="btMMc">
      <table class="death">
        <thead>
          <tr>
            <th>Kỳ hạn/Số tiền</th>
            <th colspan="4">Lãi suất tại quầy</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td><100 triệu</td>
            <td>Từ 100 triệu đến < 1 tỷ</td>
            <td>Từ 1 tỷ đến < 5 tỷ</td>
            <td>Từ 5 tỷ trở lên</td>
          </tr>
          <tr>
            <td>24 tháng Flexi 6 tháng</td>
            <td>7.2%</td>
            <td>7.3%</td>
            <td>7.3%</td>
            <td>7.3%</td>
          </tr>
          <tr>
            <td>36 tháng Flexi 12 tháng</td>
            <td>7.2%</td>
            <td>7.5%</td>
            <td>7.5%</td>
            <td>7.5%</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="NoTob">
      <h3>Ghi chú</h3>
      <ol>
        <li>
          24 tháng Flexi 6 tháng: Khách hạn sẽ gửi tiết kiệm với kỳ hạn 24 tháng
          và hưởng lãi suất theo kỳ hạn 24 tháng đó nhưng 6 tháng là khách hàng
          đã có thể nhận lãi và rút gốc.
        </li>
        <li>
          Và đối với số tiền gửi trên 1 tỷ thì lãi suất sẽ được cộng thêm từ 0.1
          - 0.2% theo thẩm quyền
        </li>
      </ol>
    </div>
  </div>
  <div class="mmFdS" *ngIf="scb">
    <h2>Lãi suất mới nhất của SCB</h2>
    <table style="border: 1px solid rgba(0, 0, 0, 0.025)">
      <thead style="background-color: coral;">
        <tr>
          <th style="background-color: hotpink;">Thời gian nắm giữ (ngày)</th>
          <th>15-29</th>
          <th>30-59</th>
          <th>60-89</th>
          <th>90-119</th>
          <th>120-149</th>
          <th>150-179</th>
          <th>180-189</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            CCTG ngắn hạn (sơ cấp)
          </td>
          <td>5.70%</td>
          <td>5.90%-6.00%</td>
          <td>6.10%-6.20%</td>
          <td>6.30%-6.40%</td>
          <td>6.50%-6.60%</td>
          <td>6.70%-6.75%</td>
          <td>6.80%</td>
        </tr>
      </tbody>
    </table>
    <table style="border: 1px solid rgba(0, 0, 0, 0.025)">
      <thead style="background-color: coral;">
        <tr>
          <th style="background-color: hotpink;">Thời gian nắm giữ (ngày)</th>
          <th>185-209</th>
          <th>210-239</th>
          <th>240-269</th>
          <th>270-299</th>
          <th>300-329</th>
          <th>330-359</th>
          <th>360-389</th>
          <th>390-419</th>
          <th>420-449</th>
          <th>450-469</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            CCTG dài hạn 469 ngày (sơ cấp)
          </td>
          <td>7.85%</td>
          <td>7.95%</td>
          <td>8.05%</td>
          <td>8.10%</td>
          <td>8.15%</td>
          <td>8.20%</td>
          <td>8.45%</td>
          <td>8.55%</td>
          <td>8.65%</td>
          <td>8.75%</td>
        </tr>
      </tbody>
    </table>
    <table style="border: 1px solid rgba(0, 0, 0, 0.025)">
      <thead style="background-color: coral;">
        <tr>
          <th style="background-color: hotpink;">Kỳ hạn sản phẩm</th>
          <th>6 tháng</th>
          <th>7 tháng</th>
          <th>8 tháng</th>
          <th>9 tháng</th>
          <th>10 tháng</th>
          <th>11 tháng</th>
          <th>12 tháng</th>
          <th>13 tháng</th>
          <th>15 tháng</th>
          <th>18 tháng</th>
          <th>24 tháng</th>
          <th>36 tháng</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            TL linh hoạt
          </td>
          <td>7.10%</td>
          <td></td>
          <td></td>
          <td>7.10%</td>
          <td></td>
          <td></td>
          <td>7.50%</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>
            TL đắc lộc tài
          </td>
          <td>8.00%</td>
          <td>8.05%</td>
          <td>8.10%</td>
          <td>8.15%</td>
          <td>8.20%</td>
          <td>8.25%</td>
          <td>8.45%</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>
            TK đắc lộc phát
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>8.55%</td>
          <td>8.55%</td>
          <td>8.55%</td>
          <td>8.35%</td>
          <td>8.35%</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
