<div class="detail-container" *ngIf="$rates | async as rates">
  <div class="hmLsd">
    <h2>Các gói lãi suất {{ toDecimal(rates[0]?.value) }}%</h2>
  </div>
  <div class="tbhd">
    <table>
      <thead>
        <tr>
          <th>Lãi suất</th>
          <th>Kỳ hạn</th>
          <th>Ngân hàng</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of rates">
          <td>{{ toDecimal(item?.value) }}%</td>
          <td>
            <p>{{ item?.period }} tháng</p>
          </td>
          <td>
            <a (click)="showBank(item?.bank)">
              <p>{{ item?.bank }}</p></a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
