<div class="chart-container">
  <div class="chart-header">
    <h3 class="header-line">Biểu đồ</h3>
  </div>
  <div class="flex-chart">
    <div class="compare-chart">
      <div class="compare-header">
        <h4 class="header-line">So sánh lãi suất</h4>
      </div>
      <div class="compare-content">
        <div
          class="bar-helper"
          *ngFor="let item of rates"
          [ngStyle]="{ width: getWidth(item.code) }"
        >
          <div
            [ngStyle]="{
              animation: getAnimation(item.code),
              'background-color': getBgColor(item.code)
            }"
            class="chart-bar"
          >
            {{ item.code }}
            <span [ngStyle]="{'animation': display(item.code)}" class="percent-line" style="left: 50%">
              {{ item.percent }}</span
            >
          </div>
        </div>
      </div>
    </div>
    <div class="forecast-chart">
      <div class="forecast-header">
        <h4 class="header-line">Biến động lãi suất</h4>
      </div>
      <div class="forecast-content"></div>
    </div>
  </div>
</div>
