<div class="review-container">
  <div class="review-header">
    <h2 class="header-line">Đánh giá từ khách hàng</h2>
  </div>
  <div class="review-content">
    <div class="summary-area" *ngIf="summary | async as summary">
      <div class="summary-stars">
        <div
          class="twinkle-stars"
          [ngStyle]="{ width: getTwinkleWidth(summary?.average) }"
        >
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
        </div>
        <div
          class="helper"
          [ngStyle]="{ width: getHelperWidth(summary?.average) }"
        ></div>
      </div>
      <div class="summary-text">{{ summary?.average }} trên 5</div>
      <div class="summary-desc">{{ summary?.total }} người đánh giá</div>
    </div>
    <div class="detail-area">
      <div class="5 stars-line"></div>
      <div class="4 stars-line"></div>
      <div class="3 stars-line"></div>
      <div class="2 stars-line"></div>
      <div class="1 stars-line"></div>
    </div>
    <div class="top-review" *ngFor="let item of reviews | async">
      <div class="review-area">
        <div class="user-area">
          <div class="user-avatar">
            <img [src]="item?.user.avatar" alt="" />
          </div>
          <div class="user-name">
            {{ item?.user.name }}
          </div>
        </div>
        <div class="review-title">
          <div class="stars-line small"></div>
          <div class="title-line">
            {{ item?.title }}
          </div>
        </div>
        <div class="date-area">
          {{ toDate(item?.created) }}
        </div>
        <div class="review">
          <div class="review-content">
            {{ item?.message }}
          </div>
        </div>
      </div>
    </div>
    <div class="add-review">
      <div class="add-btn">
        Đánh giá
      </div>
    </div>
  </div>
</div>
