<div class="new-container">
  <div class="new-header">
    <h1 class="header-line">
      Tin tức
    </h1>
  </div>
  <div class="new-content">
    <ul>
      <li>
        <a
          href="https://portal.vietcombank.com.vn/content/News/VCB_News/Lists/Vietcombank/detail-news.aspx?itemID=8731"
          >Lễ công bố Quyết định chỉ định bí thư chi bộ...</a
        >
      </li>
      <li>
        <a
          href="https://portal.vietcombank.com.vn/content/News/VCB_News/Lists/Vietcombank/detail-news.aspx?itemID=8729"
          >Cán bộ nhân viên Vietcombank Bắc Giang hỗ trợ tiêu thụ 1,5 tấn nông
          sản</a
        >
      </li>
      <li>
        <a
          href="https://portal.vietcombank.com.vn/content/News/VCB_News/Lists/Vietcombank/detail-news.aspx?itemID=8727"
          >Vietcombank Bình Dương trao giải nhì vào nhiều giải thưởng khác...</a
        >
      </li>
    </ul>
  </div>
</div>
