<div class="jjeeE">
  <div class="mSpjf" #loader>
    <img src="/assets/images/logo.png" alt="" />
  </div>
  <div class="fassE">
    <h2 class="mmkKl">
      Các dịch vụ của chúng tôi
    </h2>
  </div>
  <div class="mMMkl">
    <div (click)="download()" class="klLie mmnSC">
      <img src="/assets/images/dl.png" alt="Tốt nhất" />
      <p class="pmilK">Đăng ký nhận thông tin lãi suất</p>
    </div>
    <div (click)="consult()" class="klLie KLSee">
      <img src="/assets/images/cl.png" alt="So sánh" />
      <p class="pmilK">Đăng ký tư vấn lãi suất</p>
    </div>
  </div>
</div>
