<div class="form-container">
  <form (ngSubmit)="save()" [formGroup]="reviewForm" #form>
    <mat-form-field>
      <mat-label>Tiêu đề</mat-label>
      <input formControlName="title" matInput placeholder="" value="" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Nội dung đánh giá</mat-label>
      <textarea
        formControlName="content"
        matInput
        placeholder=""
        value=""
        rows="3"
      ></textarea>
    </mat-form-field>
    <div class="twinkle-stars">
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
    </div>
    <mat-form-field class="invisible">
      <input matInput placeholder="" value="" formControlName="stars" />
    </mat-form-field>
    <mat-form-field class="invisible">
      <input matInput placeholder="" formControlName="user" />
    </mat-form-field>
    <mat-form-field class="invisible">
      <input matInput placeholder="" formControlName="bank" />
    </mat-form-field>
    <button class="send-btn" mat-raised-button>Gửi</button>
    <!-- <button class="dismiss-btn" mat-raised-button (click)="form.close()">Hủy</button> -->
  </form>
</div>
