<div class="IpmmX">
  <div class="mSpjf" #loader>
    <img src="/assets/images/logo.png" alt="">
  </div>
  <div class="fassE">
    <h2 class="mmkKl">
      Cập nhật lãi suất ngân hàng.
    </h2>
  </div>
  <div class="mMMkl">
    <div (click)="recommend()" class="klLie mmnSC">
      <img src="/assets/images/best-1.png" alt="Tốt nhất" />
      <p class="pmilK">Tốt nhất</p>
    </div>
    <div (click)="compare()" class="klLie KLSee">
      <img src="/assets/images/cp-1.png" alt="So sánh" />
      <p class="pmilK">So sánh</p>
    </div>
    <div (click)="policy()" class="klLie iiOSa">
      <img src="/assets/images/pc-1.png" alt="Chính sách" />
      <p class="pmilK">Chính sách</p>
    </div>
    <div (click)="service()" class="klLie UyySd">
      <img src="/assets/images/sv-1.png" alt="Dịnh vụ" />
      <p class="pmilK">Dịch vụ</p>
    </div>
  </div>
</div>
