<div class="interest-container">
  <div class="flex-container">
    <div class="data-container">
      <div class="data-header">
        <div class="post-ck" *ngIf="best | async as item">
          <h2 style="font-weight: 450;"><strong>Lãi suất tiền gửi</strong> ngân hàng <strong>cập nhật</strong> 24/7</h2>
          <div class="ck-pr">
            <!-- <button
              class="rglr"
              [routerLink]="['/highest']"
              [queryParams]="{ value: item[0]?.value }"
            >
              Xem chi tiết
            </button> -->
            <button class="rglr" (click)="openDialog(item[0]?.bank, item[0]?.period)">
              Đăng ký
            </button>
          </div>
        </div>
      </div>
      <mat-tab-group class="tabs-area">
        <mat-tab label="Tại quầy">
          <app-row *ngIf="tableStyle === 'row'"></app-row>
          <div class="download-link">
            <a [href]="getDownloadLink()" target="_blank">
              Tải xuống (định dạng file xlsx)
            </a>
          </div>
        </mat-tab>
      </mat-tab-group>
      <p *ngIf="date" class="update">Ngày cập nhật: {{ toDate(date) }}</p>
    </div>
  </div>
</div>
