.cell-content
  cursor: pointer
  color: rgba(100, 100, 255, 1)
  position: relative
  background-color: #797979
  width: 100%
  height: 90px
  &.max
    background-color: rgba(51, 255, 0, 0.25)
    & a
      color: #046522
.header-line
  margin-left: 1.8vh
.cell-text
  margin: unset
  position: relative
  margin-top: 50%
  top: 14px
  color: #fff
.gift-box
  color: #00ffc4
.head
  background-size: cover
  color: #fefefe
  width: 200px
  height: 90px
  border: 1px solid rgba(0,0,0,0.125)
  background-color: unset
.cell-content a
  text-decoration: unset
  font-weight: 700
.icon-container
  width: 100%
  height: 47px
  padding-top: 1vh
  display: flex
  flex-flow: row nowrap
  justify-content: center
  align-items: center
.footer
  text-align: right
  color: #cecece
  &.today
    color: #fbff00
.footer i
  font-style: italic
  font-size: 12.5px
@media all and ( max-width: 1500px )
  .cell-content.head
    width: 200px!important