<div class="cell-content" *ngIf="rate">
  <a class="cell-text" [href]="getLink(bank, rate.period)"
    >{{ toDecimal(rate.value) }}%</a
  >
  <div class="icon-container">
    <span
      ><mat-icon class="gift-box" *ngIf="rate.gift"
        >card_giftcard</mat-icon
      ></span
    >
    <span
      ><mat-icon class="gift-box" *ngIf="rate.loc" title="HCM"
        >location_on</mat-icon
      ></span
    >
    <span
      ><mat-icon class="gift-box" [title]="rate.threshold"
        >attach_money</mat-icon
      ></span
    >
  </div>
  <div class="footer">
    <i>{{ toDate(rate.lastUpdate) }}</i>
  </div>
</div>
