<div class="setting-container">
  <div class="flex-setting">
    <div class="setting-header">
      <h3 class="header-line">Cài đặt hiển thị</h3>
    </div>
    <div class="setting-options">
      <div class="options-area">
        <div class="table-options">
          <div class="table-header">
            <h4 class="header-line">Bảng</h4>
          </div>
          <div class="table-content">
            <div class="type-options">
              <mat-radio-group (change)="tableTypeRadChange()" [(ngModel)]="tableType">
                <mat-radio-button value="row">Ngắn gọn</mat-radio-button>
                <mat-radio-button value="box">Chi tiết</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="period-options">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  Kỳ hạn
                </mat-expansion-panel-header>
                <mat-checkbox>Không kỳ hạn</mat-checkbox>
                <mat-checkbox>1 Tháng</mat-checkbox>
                <mat-checkbox>3 Tháng</mat-checkbox>
                <mat-checkbox>6 Tháng</mat-checkbox>
                <mat-checkbox>9 Tháng</mat-checkbox>
                <mat-checkbox [checked]="true">12 Tháng</mat-checkbox>
                <mat-checkbox>18 Tháng</mat-checkbox>
                <mat-checkbox>24 Tháng</mat-checkbox>
                <mat-checkbox>36 Tháng</mat-checkbox>
              </mat-expansion-panel>
            </div>
            <div class="require-options">
              <mat-checkbox>Hiện số tiền gửi</mat-checkbox>
            </div>
            <div class="source-options">
              <mat-checkbox>Hiện nguồn cập nhật</mat-checkbox>
            </div>
            <div class="bank-options">
              <mat-radio-group>
                <mat-label>Hiện ngân hàng</mat-label>
                <mat-radio-button checked value="all">Tất cả</mat-radio-button>
                <mat-radio-button value="1"
                  >Ngân hàng nhà nước</mat-radio-button
                >
                <mat-radio-button value="2">Ngân hàng TMCP</mat-radio-button>
                <mat-radio-button value="3"
                  >Ngân hàng vốn nước ngoài</mat-radio-button
                >
                <mat-radio-button value="4"
                  >Ngân hàng liên doanh</mat-radio-button
                >
                <mat-radio-button value="5"
                  >Chi nhánh NH nước ngoài tại VN</mat-radio-button
                >
              </mat-radio-group>
            </div>
          </div>
        </div>
        <div class="chart-options">
          <div class="chart-header">
            <h4 class="header-line">Biểu đồ</h4>
          </div>
          <div class="chart-content">
            <div class="compare-options">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  So sánh ngân hàng
                </mat-expansion-panel-header>
                <div class="banks-content">
                  <mat-checkbox [checked]="true">Agribank</mat-checkbox>
                  <mat-checkbox [checked]="true">Vietcombank</mat-checkbox>
                  <mat-checkbox>Vietinbank</mat-checkbox>
                  <mat-checkbox>Techcombank</mat-checkbox>
                  <mat-checkbox>BIDV</mat-checkbox>
                </div>
              </mat-expansion-panel>
            </div>
            <div class="forecast-range">
              <mat-label>Thời gian biến động</mat-label>
              <mat-radio-group>
                <mat-radio-button value="0">Tháng</mat-radio-button>
                <mat-radio-button value="1">Năm</mat-radio-button>
                <mat-radio-button value="2">10 Năm</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="display-options">
              <mat-checkbox (change)="toggleDisplay()" [(ngModel)]="showChart">Hiện biểu đồ</mat-checkbox>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
