<div class="upDxS">
  <h2 class="hkBcc">Lãi suất</h2>
  <div class="aBooD">
    <button color="primary" (click)="addRate()" mat-raised-button>
      Thêm
    </button>
  </div>
  <div class="kjDje">
    <button color="accent" (click)="updateRate()" mat-raised-button>
      Cập nhật
    </button>
  </div>
</div>
<div class="nmBpx">
  <h2 class="hkBcc">Ngân hàng</h2>
  <div class="aBooD">
    <button color="primary" (click)="addBank()" mat-raised-button>
      Thêm
    </button>
  </div>
  <div class="kjDje">
    <button color="accent" (click)="updateBank()" mat-raised-button>
      Cập nhật
    </button>
  </div>
</div>
