<div class="mjIjj">
  <div class="mSpjf" #loader>
    <img src="/assets/images/logo.png" alt="" />
  </div>
  <div class="mmWdd mieee" #search>
    <input type="text" #searchBar placeholder="tìm ngân hàng" />
  </div>
  <div #main class="mmXij">
    <h2 #header>So sánh lãi suất</h2>
    <div class="bMbjm">
      <table>
        <thead>
          <tr>
            <th rowspan="2">Ngân hàng</th>
            <th colspan="2">
              Kỳ hạn
            </th>
          </tr>
          <tr>
            <th style="width: 100px;">
              {{ getPeriodLabel(first) }}
            </th>
            <th style="width: 100px;">
              {{ getPeriodLabel(second) }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bank of banks">
            <td>
              <img [src]="getLogo(bank?.normalized)" [alt]="bank?.name" />
            </td>
            <td *ngIf="getRate(bank.normalized, first) as rate">
              {{ toDecimal(rate.value) }}
              <mat-icon *ngIf="rate.inc" class="up">trending_up</mat-icon>
              <mat-icon *ngIf="rate.dec" class="down">trending_down</mat-icon>
              <mat-icon *ngIf="rate.flat && rate.value > 0" class="flat"
                >trending_flat</mat-icon
              >
              <span>{{ rate.text }}</span>
            </td>
            <td *ngIf="getRate(bank.normalized, second) as rate">
              {{ toDecimal(rate.value) }}
              <mat-icon *ngIf="rate.inc" class="up">trending_up</mat-icon>
              <mat-icon *ngIf="rate.dec" class="down">trending_down</mat-icon>
              <mat-icon *ngIf="rate.flat && rate.value > 0" class="flat"
                >trending_flat</mat-icon
              >
              <span *ngIf="rate.inc || rate.dec">{{ rate.text }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="iiOOe">
    <div class="luiLj" #left>
      <img src="/assets/images/left.png" alt="left" />
    </div>
    <div class="mnMbv" #right>
      <img src="/assets/images/right.png" alt="right" />
    </div>
  </div>
  <div class="refmm">
    <a [routerLink]="['/recommend']">
      So sánh lãi suất
    </a>
    <a [routerLink]="['/policy']">
      Chính sách riêng
    </a>
  </div>
</div>
