/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css'
.header-line
  color: coral
.mat-tab-label-content
  color: #0055ad
.mat-tab-labels
  background-color: #f3f3f3
.tabs-area mat-tab-header
  position: sticky
  position: -webkit-sticky
  top: 70px
  z-index: 100
.mat-tab-label-active
  background-color: white
.mat-tab-body-content
  overflow: unset!important
.mat-tab-body.mat-tab-body-active
  overflow-x: unset!important
  overflow-y: unset!important
.mat-tab-body-wrapper
  overflow: unset!important
// charts
app-chart
  animation: slidein 1.5s ease-in 0s 1 normal forwards
@keyframes slidein
  0%
    opacity: 0
  100%
    opacity: 1
*
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif
  font-style: normal
  font-variant: normal
h1
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif
  font-size: 24px
  font-style: normal
  font-variant: normal
  font-weight: 700
  line-height: 26.4px

h3
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif
  font-size: 14px
  font-style: normal
  font-variant: normal
  font-weight: 700
  line-height: 15.4px

p
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif
  font-size: 14px
  font-style: normal
  font-variant: normal
  font-weight: 400
  line-height: 20px

blockquote
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif
  font-size: 21px
  font-style: normal
  font-variant: normal
  font-weight: 400
  line-height: 30px

pre
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif
  font-size: 13px
  font-style: normal
  font-variant: normal
  font-weight: 400
  line-height: 18.5714px

mat-dialog-container
  padding: unset!important

@keyframes push
  0%
    margin-right: 0
  100%
    margin-right: -290px
@keyframes pull
  0%  
    margin-right: -290px
  100%
    margin-right: 0
@keyframes pullup
  0%
    margin-top: 0
  100%
    margin-top: -219.16px
@keyframes pulldown
  0%
    margin-top: -219.16px
  100%
    margin-top: 10.07px
@keyframes bs
  0%
    margin-right: 97.5px
    opacity: 0
  75%
    opacity: 0.25
  100%
    margin-right: 5px
    opacity: 1
@keyframes rotate
  0%
    transform: rotateZ(-30deg)
    opacity: 0
  100%
    opacity: 1
    transform: rotateZ(0deg)
@keyframes slideup
  0%
    margin-top: 50%
    opacity: 0
  50%
    margin-top: 25%
    opacity: 1
  100%
    margin-top: 0
    opacity: 1
@keyframes slidedown
  0%
    margin-top: 0%
    opacity: 1
  50%
    margin-top: 25%
    opacity: 1
  100%
    margin-top: 50%
    opacity: 0
@media all and ( max-width: 1500px )
  @keyframes pullup
    0%
      margin-top: 0
    100%
      margin-top: -165.46px
  @keyframes pulldown
    0%
      margin-top: -165.46px
    100%
      margin-top: 10.07px

@keyframes "bannermove"
 0%
    margin-left: 0px
 100%
    margin-left: -580px

@-moz-keyframes bannermove
 0%
   margin-left: 0px
 100%
   margin-left: -580px

@-webkit-keyframes "bannermove"
 0%
   margin-left: 0px
 100%
   margin-left: -580px

@-ms-keyframes "bannermove"
 0%
   margin-left: 0px
 100%
   margin-left: -580px

@-o-keyframes "bannermove"
 0%
   margin-left: 0px
 100%
   margin-left: -580px