/* You can add global styles to this file, and also import other style files */
.mat-checkbox-inner-container, .mat-radio-outer-circle
  background-color: #d7e1ea94 !important
*
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif
  font-weight: normal
.header-line
  color: coral