<div class="row-container">
  <div class="row-header">
    <h3 class="header-line">Danh sách lãi suất</h3>
    <div class="ErmGg">
      <a
        class="first"
        #tag
        target="_blank"
        [routerLink]="['/criteria']"
        [queryParams]="{ bank: 'vib' }"
        >Lãi suất cao nhất tại VIB</a
      >
      <a
        #tag
        target="_blank"
        [routerLink]="['/criteria']"
        [queryParams]="{ bank: 'scb' }"
        >Chính sách cộng lãi suất tốt nhất từ SCB</a
      >
      <a
        #tag
        target="_blank"
        [routerLink]="['/criteria']"
        [queryParams]="{ bank: 'abb' }"
        >Ngân hàng ABBank mới cập lãi suất tháng 3/2020</a
      >
      <a
        #tag
        target="_blank"
        [routerLink]="['/criteria']"
        [queryParams]="{ bank: 'tcb' }"
        >Techcombank cộng thêm 0.2% cho Khách hàng VIP</a
      >
      <a
        #tag
        target="_blank"
        [routerLink]="['/criteria']"
        [queryParams]="{ bank: 'vib' }"
        >Lãi suất cao nhất tại VIB</a
      >
      <a
        #tag
        target="_blank"
        [routerLink]="['/criteria']"
        [queryParams]="{ bank: 'scb' }"
        >Chính sách cộng lãi suất tốt nhất từ SCB</a
      >
      <a
        #tag
        target="_blank"
        [routerLink]="['/criteria']"
        [queryParams]="{ bank: 'abb' }"
        >Ngân hàng ABBank mới cập lãi suất tháng 3/2020</a
      >
      <a
        #tag
        target="_blank"
        [routerLink]="['/criteria']"
        [queryParams]="{ bank: 'tcb' }"
        >Techcombank cộng thêm 0.2% cho Khách hàng VIP</a
      >
    </div>
    <input
      #search
      style="height: 34.2px; margin-right: 16px;"
      class="kjdFF"
      type="search"
      placeholder="Tìm kiếm"
    />
  </div>
  <div class="row-content">
    <div class="line-area">
      <div class="line-content">
        <div class="row-line top">
          <div class="cell-content head top">
            <a class="cell-text">Ngân hàng</a>
          </div>
          <div class="cell-content 0w">
            <a class="cell-text">Không kỳ hạn</a>
          </div>
          <div class="cell-content 3m">
            <a class="cell-text">3 tháng</a>
          </div>
          <div class="cell-content 6m">
            <a class="cell-text">6 tháng</a>
          </div>
          <div class="cell-content 12m">
            <a class="cell-text">12 tháng</a>
          </div>
          <div class="cell-content 9m">
            <a class="cell-text">13 tháng</a>
          </div>
          <div class="cell-content 18m">
            <a class="cell-text">18 tháng</a>
          </div>
          <div class="cell-content 24m">
            <a class="cell-text">24 tháng</a>
          </div>
          <div class="cell-content 36m">
            <a class="cell-text">36 tháng</a>
          </div>
          <div class="cell-content unused">
            <a class="cell-text"></a>
          </div>
        </div>
        <div class="cell-area" *ngFor="let bank of banks">
          <div class="row-line">
            <div class="cell-content head">
              <a [routerLink]="['/detail']" [queryParams]="{ c: bank._id }">
                <img
                  class="head-logo"
                  [src]="getLogo(bank.normalized)"
                  alt=""
                />
              </a>
            </div>
            <app-cell
              [period]="0"
              [max]="max(0, bank.normalized)"
              [rate]="rate(bank.normalized, 0)"
              [change]="change(bank.normalized, 0)"
              [bank]="bank.normalized"
            ></app-cell>
            <app-cell
              [period]="3"
              [max]="max(3, bank.normalized)"
              [rate]="rate(bank.normalized, 3)"
              [change]="change(bank.normalized, 3)"
              [bank]="bank.normalized"
            ></app-cell>
            <app-cell
              [period]="6"
              [max]="max(6, bank.normalized)"
              [rate]="rate(bank.normalized, 6)"
              [change]="change(bank.normalized, 6)"
              [bank]="bank.normalized"
            ></app-cell>
            <app-cell
              [period]="12"
              [max]="max(12, bank.normalized)"
              [rate]="rate(bank.normalized, 12)"
              [change]="change(bank.normalized, 12)"
              [bank]="bank.normalized"
            ></app-cell>
            <app-cell
              [period]="13"
              [max]="max(13, bank.normalized)"
              [rate]="rate(bank.normalized, 13)"
              [change]="change(bank.normalized, 13)"
              [bank]="bank.normalized"
            ></app-cell>
            <app-cell
              [period]="18"
              [max]="max(18, bank.normalized)"
              [rate]="rate(bank.normalized, 18)"
              [change]="change(bank.normalized, 18)"
              [bank]="bank.normalized"
            ></app-cell>
            <app-cell
              [period]="24"
              [max]="max(24, bank.normalized)"
              [rate]="rate(bank.normalized, 24)"
              [change]="change(bank.normalized, 24)"
              [bank]="bank.normalized"
            ></app-cell>
            <app-cell
              [period]="36"
              [max]="max(36, bank.normalized)"
              [rate]="rate(bank.normalized, 36)"
              [change]="change(bank.normalized, 36)"
              [bank]="bank.normalized"
            ></app-cell>
            <div class="asxiRR">
              <a [routerLink]="['/detail']" [queryParams]="{ c: bank._id }"
                >Chi tiết</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="jjfSD" #holder>
      <mat-icon #icon class="jjDDx active">close</mat-icon>
      <mat-icon #icon class="SmTpE">email</mat-icon>
    </div>
    <div class="EmsFF active" #popup>
      <form [formGroup]="downloadForm" (ngSubmit)="download()">
        <h2>Đăng ký tài khoản</h2>
        <mat-form-field>
          <input
            formControlName="name"
            matInput
            placeholder="Họ và tên"
            value=""
          />
        </mat-form-field>
        <mat-form-field>
          <input
            formControlName="email"
            matInput
            placeholder="Email"
            value=""
            type="email"
            [email]="true"
          />
        </mat-form-field>
        <mat-form-field>
          <input formControlName="phone" matInput placeholder="SĐT" value="" />
        </mat-form-field>
        <ul style="font-size: 14px; padding: 14px 12.5px;">
          <li>
            Nhận file tổng hợp lãi suất tiền gửi các ngân hàng
          </li>
          <li>
            Nhận thông báo cập nhật lãi suất nhanh chóng và chính xác
          </li>
          <li>
            Các gói ưu đãi tối ưu, tiết kiệm nhất
          </li>
        </ul>
        <hr />
        <button mat-raised-button [disabled]="!downloadForm.valid">
          Tải tài liệu ngay
        </button>
      </form>
    </div>
  </div>
</div>
