<div class="row-container">
  <div class="row-header">
    <h3 class="header-line">Danh sách lãi suất</h3>
  </div>
  <div class="row-content">
    <div class="line-area">
      <div class="line-content">
        <div class="row-line">
          <div class="cell-content head">
            <a class="cell-text">Ngân hàng</a>
          </div>
          <div class="cell-content 0w">
            <a class="cell-text">Không kỳ hạn</a>
          </div>
          <div class="cell-content 3m">
            <a class="cell-text">3 tháng</a>
          </div>
          <div class="cell-content 6m">
            <a class="cell-text">6 tháng</a>
          </div>
          <div class="cell-content 9m">
            <a class="cell-text">9 tháng</a>
          </div>
          <div class="cell-content 12m">
            <a class="cell-text">12 tháng</a>
          </div>
          <div class="cell-content 18m">
            <a class="cell-text">18 tháng</a>
          </div>
          <div class="cell-content 24m">
            <a class="cell-text">24 tháng</a>
          </div>
          <div class="cell-content 36m">
            <a class="cell-text">36 tháng</a>
          </div>
        </div>
        <div class="cell-area" *ngFor="let bank of banks">
          <div class="row-line" *ngIf="bank.interestRates as item">
            <div
              class="cell-content head"
              [ngStyle]="{ backgroundColor: getColor(bank.code) }"
            >
              <a class="cell-text" [href]="getLink(bank.normalized)">{{
                bank.code
              }}</a>
            </div>
            <div
              class="cell-content 0w"
              [ngClass]="{ 'max-rate': isMax('unlimit', item.unlimit?.value) }"
            >
              <a
                class="cell-text"
                [href]="getLink(bank.normalized, 'unlimit')"
                >{{ item.unlimit?.value }}</a
              >
              <div class="icon-container">
                <span
                  ><mat-icon class="gift-box" *ngIf="item.unlimit?.gift"
                    >card_giftcard</mat-icon
                  ></span
                >
                <span
                  ><mat-icon class="gift-box" *ngIf="item.unlimit?.loc"
                    >location_on</mat-icon
                  ></span
                >
                <span
                  ><mat-icon
                    class="gift-box"
                    *ngIf="!item.unlimit?.threshold"
                    [title]="item.unlimit?.threshold"
                    >attach_money</mat-icon
                  ></span
                >
              </div>
            </div>
            <!-- <div class="cell-content 1w" [ngClass]="{'max-rate': isMax('onew', item.oneW?.value)}">
              <a class="cell-text" [href]="getLink(bank.normalized,'1w')">{{ item.oneW?.value }}</a>
              <span
                ><mat-icon class="gift-box" *ngIf="item.oneW?.gift"
                  >card_giftcard</mat-icon
                ></span
              >
            </div>
            <div class="cell-content 2w" [ngClass]="{'max-rate': isMax('twow', item.twoW?.value)}">
              <a class="cell-text" [href]="getLink(bank.normalized,'2w')">{{ item.twoW?.value }}</a>
              <span
                ><mat-icon class="gift-box" *ngIf="item.twoW?.gift"
                  >card_giftcard</mat-icon
                ></span
              >
            </div>
            <div class="cell-content 3w" [ngClass]="{'max-rate': isMax('threew', item.threeW?.value)}">
              <a class="cell-text" [href]="getLink(bank.normalized,'3w')">{{ item.threeW?.value }}</a>
              <span
                ><mat-icon class="gift-box" *ngIf="item.threeW?.gift"
                  >card_giftcard</mat-icon
                ></span
              >
            </div>
            <div class="cell-content 1m" [ngClass]="{'max-rate': isMax('onem', item.oneM?.value)}">
              <a class="cell-text" [href]="getLink(bank.normalized,'1m')">{{ item.fourW?.value }}</a>
              <span
                ><mat-icon class="gift-box" *ngIf="item.fourW?.gift"
                  >card_giftcard</mat-icon
                ></span
              >
            </div> -->
            <div
              class="cell-content 3m"
              [ngClass]="{ 'max-rate': isMax('threem', item.threeM?.value) }"
            >
              <a class="cell-text" [href]="getLink(bank.normalized, '3m')">{{
                item.threeM?.value
              }}</a>
              <div class="icon-container">
                <span
                  ><mat-icon class="gift-box" *ngIf="item.threeM?.gift"
                    >card_giftcard</mat-icon
                  ></span
                >
                <span
                  ><mat-icon class="gift-box" *ngIf="item.threeM?.loc"
                    >location_on</mat-icon
                  ></span
                >
                <span
                  ><mat-icon
                    class="gift-box"
                    *ngIf="!item.threeM?.threshold"
                    [title]="item.threeM?.threshold"
                    >attach_money</mat-icon
                  ></span
                >
              </div>
            </div>
            <div
              class="cell-content 6m"
              [ngClass]="{ 'max-rate': isMax('sixm', item.sixM?.value) }"
            >
              <a class="cell-text" [href]="getLink(bank.normalized, '6m')">{{
                item.sixM?.value
              }}</a>
              <div class="icon-container">
                <span
                  ><mat-icon class="gift-box" *ngIf="item.sixM?.gift"
                    >card_giftcard</mat-icon
                  ></span
                >
                <span
                  ><mat-icon class="gift-box" *ngIf="item.sixM?.loc"
                    >location_on</mat-icon
                  ></span
                >
                <span
                  ><mat-icon
                    class="gift-box"
                    *ngIf="!item.sixM?.threshold"
                    [title]="item.sixM?.threshold"
                    >attach_money</mat-icon
                  ></span
                >
              </div>
            </div>
            <div
              class="cell-content 9m"
              [ngClass]="{ 'max-rate': isMax('ninem', item.nineM?.value) }"
            >
              <a class="cell-text" [href]="getLink(bank.normalized, '9m')">{{
                item.nineM?.value
              }}</a>
              <div class="icon-container">
                <span
                  ><mat-icon class="gift-box" *ngIf="item.nineM?.gift"
                    >card_giftcard</mat-icon
                  ></span
                >
                <span
                  ><mat-icon class="gift-box" *ngIf="item.nineM?.loc"
                    >location_on</mat-icon
                  ></span
                >
                <span
                  ><mat-icon
                    class="gift-box"
                    *ngIf="!item.nineM?.threshold"
                    [title]="item.nineM?.threshold"
                    >attach_money</mat-icon
                  ></span
                >
              </div>
            </div>
            <div
              class="cell-content 12m"
              [ngClass]="{ 'max-rate': isMax('twelvem', item.twelveM?.value) }"
            >
              <a class="cell-text" [href]="getLink(bank.normalized, '12m')">{{
                item.twelveM?.value
              }}</a>
              <div class="icon-container">
                <span
                  ><mat-icon class="gift-box" *ngIf="item.twelveM?.gift"
                    >card_giftcard</mat-icon
                  ></span
                >
                <span
                  ><mat-icon class="gift-box" *ngIf="item.twelveM?.loc"
                    >location_on</mat-icon
                  ></span
                >
                <span
                  ><mat-icon
                    class="gift-box"
                    *ngIf="!item.twelveM?.threshold"
                    [title]="item.twelveM?.threshold"
                    >attach_money</mat-icon
                  ></span
                >
              </div>
            </div>
            <div
              class="cell-content 18m"
              [ngClass]="{
                'max-rate': isMax('eighteenm', item.eighteenM?.value)
              }"
            >
              <a class="cell-text" [href]="getLink(bank.normalized, '18m')">{{
                item.eighteenM?.value
              }}</a>
              <div class="icon-container">
                <span
                  ><mat-icon class="gift-box" *ngIf="item.eighteenM?.gift"
                    >card_giftcard</mat-icon
                  ></span
                >
                <span
                  ><mat-icon class="gift-box" *ngIf="item.eighteenM?.loc"
                    >location_on</mat-icon
                  ></span
                >
                <span
                  ><mat-icon
                    class="gift-box"
                    *ngIf="!item.eighteenM?.threshold"
                    [title]="item.eighteenM?.threshold"
                    >attach_money</mat-icon
                  ></span
                >
              </div>
            </div>
            <div
              class="cell-content 24m"
              [ngClass]="{
                'max-rate': isMax('twentyfourm', item.twentyFourM?.value)
              }"
            >
              <a class="cell-text" [href]="getLink(bank.normalized, '24m')">{{
                item.twentyFourM?.value
              }}</a>
              <div class="icon-container">
                <span
                  ><mat-icon class="gift-box" *ngIf="item.twentyFourM?.gift"
                    >card_giftcard</mat-icon
                  ></span
                >
                <span
                  ><mat-icon class="gift-box" *ngIf="item.twentyFourM?.loc"
                    >location_on</mat-icon
                  ></span
                >
                <span
                  ><mat-icon
                    class="gift-box"
                    *ngIf="!item.twentyFourM?.threshold"
                    [title]="item.twentyFourM?.threshold"
                    >attach_money</mat-icon
                  ></span
                >
              </div>
            </div>
            <div
              class="cell-content 36m"
              [ngClass]="{
                'max-rate': isMax('thirtysixm', item.thirtySixM?.value)
              }"
            >
              <a class="cell-text" [href]="getLink(bank.normalized, '36m')">{{
                item.thirtySixM?.value
              }}</a>
              <div class="icon-container">
                <span
                  ><mat-icon class="gift-box" *ngIf="item.thirtySixM?.gift"
                    >card_giftcard</mat-icon
                  ></span
                >
                <span
                  ><mat-icon class="gift-box" *ngIf="item.thirtySixM?.loc"
                    >location_on</mat-icon
                  ></span
                >
                <span
                  ><mat-icon
                    class="gift-box"
                    *ngIf="!item.thirtySixM?.threshold"
                    [title]="item.thirtySixM?.threshold"
                    >attach_money</mat-icon
                  ></span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
