<div class="row-container">
  <div class="row-header"></div>
  <div class="row-content">
    <div class="line-area">
      <div class="line-content">
        <!-- <div class="cell-area" *ngFor="let item of bank.interestRates">
          <div class="cell-content head">{{ item.code }}</div>
          <div class="cell-content 0w">{{ item.interestRates.unlimit.value }}</div>
          <div class="cell-content 1w">{{ item.interestRates.oneW.value }}</div>
          <div class="cell-content 2w">{{ item.interestRates.twoW.value }}</div>
          <div class="cell-content 3w">{{ item.interestRates.threeW.value }}</div>
          <div class="cell-content 1m">{{ item.interestRates.fourW.value }}</div>
          <div class="cell-content 3m">{{ item.interestRates.threeM.value }}</div>
          <div class="cell-content 6m">{{ item.interestRates.sixM.value }}</div>
          <div class="cell-content 9m">{{ item.interestRates.nineM.value }}</div>
          <div class="cell-content 12m">{{ item.interestRates.twelveM.value }}</div>
          <div class="cell-content 18m">{{ item.interestRates.eighteenM.value }}</div>
          <div class="cell-content 24m">{{ item.interestRates.twentyFourM.value }}</div>
          <div class="cell-content 36m">{{ item.interestRates.thirtySixM.value }}</div>
        </div> -->
      </div>
    </div>
  </div>
</div>
