.icon-container
  width: 100%
  height: 61.7px
  padding-top: 1vh
  display: flex
  flex-flow: row nowrap
  justify-content: center
  align-items: center
.row-header
  display: flex
  flex-flow: row
  justify-content: space-between
  align-items: center
.row-line
  display: flex
  flex-flow: row nowrap
  align-items: center
  border: 1px solid rgba(255,255,255, 0.3)
  text-align: center
  padding-bottom: 1vh
  justify-content: space-evenly
  .cell-content
    display: flex
    flex-flow: row nowrap
    justify-content: center
    align-items: center
    & a
      top: 0
      margin-top: unset
  &.top
    position: sticky
    z-index: 101
    top: -1px
    position: -webkit-sticky
    top: 117px
.cell-content,app-cell
  cursor: pointer
  width: 85.8px
  height: 50px
  color: rgba(100, 100, 255, 1)
  position: relative
  background-color: #797979
  width: 10%
  height: 90px
  &.unused
    width: 85.8px
.asxiRR
  width: 85.8px
  height: 90px
  display: flex
  flex-flow: row nowrap
  align-items: center
  justify-content: center
  color: #6464ff
  background: rgb(225, 245, 254)
  a
    color: #1a7fb4
    text-decoration: unset
.header-line
  margin-left: 1.8vh
.cell-text
  margin: unset
  position: relative
  margin-top: 50%
  top: 14px
  color: #fff
.gift-box
  color: #00ffc4
.max-rate
  background-color: rgba(51, 255, 0, 0.25)
.max-rate a
  color: #046522
.head
  background-size: cover
  color: #fefefe
  width: 120px
  height: 90px
  border: 1px solid rgba(0,0,0,0.125)
  background-color: unset
.cell-content a
  text-decoration: unset
  font-weight: 700
.head-logo
  object-fit: scale-down
  height: 90px
  width: 120px
.head.top
  background-color: #797979
.row-line.top div
  background-color: #0055ad
@media all and ( max-width: 1500px )
  app-cell
    width: 9.5%!important
  .cell-content,.asxiRR
    width: 9.5%!important
    &.head
      width: 120px!important
    &.unused
      width: 85.8px