$assets-path: "~/assets"
.top-header
  width: 100%
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index:2
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12)
  background: #ffffff00
.app-icon
  width: auto
  height: auto
  background: url($assets-path + "/icons/logo.png")
ul
  list-style: none
li
  display: inline-flex
.flex-header
  display: flex
  flex-flow: row nowrap
  justify-content: space-between
  background-color: white
  padding: 0 1vh
  color: rgba(0, 0, 0, 0.879)
.horizon-list
  padding-left: 10px
.mbBirs, .lIcra, .bIfdd
  display: none
.lIcra img
  height: 50px
.bIfdd a, .bsAlo
  color: rgba(0, 0, 0, 0.615)
  font-weight: 555
  text-decoration: unset
.kjdFF
  height: 34.2px
.bsAlo
  display: block
@media all and ( max-width: 724px )
  .header-left, .header-right
    display: none
  .mbBirs,.bIfdd, .lIcra
    display: flex
    flex-flow: row
    align-items: center
    height: 50px
  .flex-header
    align-items: center