<header class="top-header">
  <div class="flex-header">
    <div class="header-left">
      <ul class="horizon-list">
        <li>
          <button (click)="toggleTool()" mat-button>
            <mat-icon>menu</mat-icon>
          </button>
        </li>
        <li>
          <a mat-button [routerLink]="['/']">Trang chính</a>
        </li>
        <li>
          <a mat-button [routerLink]="['/interest']">Lãi suất tiền gửi</a>
        </li>
        <li>
          <a mat-button [routerLink]="['/loan']">Lãi suất cho vay</a>
        </li>
      </ul>
    </div>
    <div class="header-right">
      <ul class="horizon-list">
        <li>
          <a
            mat-button
            [routerLink]="['/signin']"
            [queryParams]="{ ref: loc }"
            *ngIf="!login"
            >Đăng nhập</a
          >
        </li>
        <li>
          <a
            mat-button
            [routerLink]="['/signup']"
            [queryParams]="{ ref: loc }"
            *ngIf="!login"
            >Đăng ký</a
          >
        </li>
        <li>
          <a mat-button (click)="logout()" *ngIf="login">Đăng xuất</a>
        </li>
      </ul>
    </div>
    <div class="mbBirs">
      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="lIcra">
      <a href="#" style="line-height: 0;">
        <img
          src="assets/images/logo.png"
          style="height: 30px;"
          alt="BankExpress"
        />
      </a>
    </div>
    <div class="bIfdd">
      <mat-icon>notifications</mat-icon>
    </div>
  </div>
</header>

<div class="mIccO">
  <mat-menu #appMenu="matMenu">
    <a [routerLink]="['/recommend']" class="bsAlo">Tốt nhất</a>
    <a [routerLink]="['/compare']" class="bsAlo">So sánh</a>
    <a [routerLink]="['/policy']" class="bsAlo">Chính sách</a>
    <a [routerLink]="['/service']" class="bsAlo">Dịch vụ</a>
    <!-- <a [routerLink]="['/signin']" class="bsAlo">Đăng nhập</a>
    <a [routerLink]="['/signup']" class="bsAlo">Đăng ký</a> -->
  </mat-menu>
</div>
