<header class="top-header">
  <div class="flex-header">
    <div class="header-left">
      <ul class="horizon-list">
        <li>
          <button (click)="toggleTool()" mat-button>
            <mat-icon>menu</mat-icon>
          </button>
        </li>
        <li>
          <a mat-button [routerLink]="['/']">Trang chính</a>
        </li>
        <li>
          <a mat-button [routerLink]="['/interest']">Lãi suất tiền gửi</a>
        </li>
        <li>
          <a mat-button [routerLink]="['/loan']">Lãi suất cho vay</a>
        </li>
      </ul>
    </div>
    <div class="header-right">
      <ul class="horizon-list">
        <li>
          <a
            mat-button
            [routerLink]="['/signin']"
            [queryParams]="{ ref: loc }"
            *ngIf="!login"
            >Đăng nhập</a
          >
        </li>
        <li>
          <a
            mat-button
            [routerLink]="['/signup']"
            [queryParams]="{ ref: loc }"
            *ngIf="!login"
            >Đăng ký</a
          >
        </li>
        <li>
          <a mat-button (click)="logout()" *ngIf="login">Đăng xuất</a>
        </li>
      </ul>
    </div>
    <div class="mbBirs">
      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="lIcra">
      <a href="#">
        <img src="assets/images/logo.png" alt="BankExpress" />
      </a>
    </div>
    <div class="bIfdd">
      <a routerLink=".">Đăng nhập</a>
    </div>
  </div>
</header>

<div class="mIccO">
  <mat-menu #appMenu="matMenu"> 
    <a href="#" class="bsAlo">Lãi suất</a>
    <a href="#" class="bsAlo">Vay</a>
    <a href="#" class="bsAlo">Tin tức</a>
  </mat-menu>
</div>
