<div class="info-container">
  <div class="flex-container" *ngIf="info$ | async as info">
    <div class="info-header">
      <h1 class="header-line">{{ info?.nativeName }}</h1>
    </div>
    <div class="info-logo">
      <img class="logo-img" [src]="domain + info?.logo" alt="" />
    </div>
    <div class="info-content">
      <dl>
        <dt>Mã</dt>
        <dt>{{ info?.tradeName }}</dt>
      </dl>
      <dl>
        <dt>Ngày thành lập</dt>
        <dt>{{ info?.founded }}</dt>
      </dl>
      <dl>
        <dt>Doanh thu</dt>
        <dt>{{ format(info?.revenue) }}</dt>
      </dl>
      <dl>
        <dt>Số lượng nhân viên</dt>
        <dt>{{ info?.employees }}</dt>
      </dl>
      <dl>
        <dt>Trụ sở chính</dt>
        <dt>{{ info?.headquarter }}</dt>
      </dl>
      <dl>
        <dt>Website</dt>
        <dt>{{ info?.website }}</dt>
      </dl>
    </div>
  </div>
</div>
