$breakpoint: "500px"
@media all and ( max-width: $breakpoint )
  .flex-table 
    display: block!important
    & > .flex-cell
      width: 100%
      &.foot
        margin-bottom: 1em


.code-cell
  background-color: unset
  border: 1px solid rgba(0,0,0,0.3)
  color: white
.flex-cell
  text-align: center
  padding: 0.5vh 0.5vh
  border: 1px solid
  width: 450px
  margin: 0.2vh
  line-height: 1.5em
.flex-table
  display: flex
  flex-wrap: wrap
  flex-direction: row
  justify-content: center
  margin: 1vh 1.5vh
.header-line
  margin-left: 1.8vh
.cell-content
  display: flex
  flex-flow: row nowrap
  justify-content: space-between
  align-items: center
  border-bottom: 1px solid rgba(0,0,0,0.3)
.details-area
  width: 410px
  border-left: 1px solid rgba(0,0,0,0.3)
.require-area, .offer-area
  display: flex
  flex-flow: row nowrap
  justify-content: flex-start
  align-items: flex-start
.require-header, .offer-header
  width: 77.4px
  &::before
    content: "+"
.require-content, .offer-content
  text-align: start
  padding-left: 1vh
  border-left: 1px solid rgba(0,0,0,0.3)
.offer-area
  border-bottom: 1px solid rgba(0,0,0,0.3)
