<div class="table-container">
  <div class="table-header">
    <h3 class="header-line">Danh sách lãi suất</h3>
  </div>
  <div class="flex-table" *ngIf="rates; else loading">
    <div
      *ngFor="let item of rates; let i = index"
      class="flex-cell"
      [style.order]="item.order"
    >
      <!-- <div class="index-cell">{{ i }}</div> -->
      <div
        style="order: 0;"
        [ngStyle]="{ 'background-color': getColor(item.code) }"
        class="code-cell head"
      >
        {{ item.code }}
      </div>
      <div style="order: 1;" class="unli-cell cell-content">
        <div class="percent-area">{{ item.interestRates.unlimit.value }}%</div>
        <div class="details-area">
          <div class="offer-area">
            <div class="offer-header">
              Ưu đãi
            </div>
            <div class="offer-content">
              <div>Quà tặng: ...</div>
              <div>Lãi suất: ...</div>
            </div>
          </div>
          <div class="require-area">
            <div class="require-header">
              Yêu cầu
            </div>
            <div class="require-content">
              <div>Kỳ hạn: Không</div>
              <div>Hạn mức: 1.000.000</div>
              <div>Giấy tờ tùy thân: CMND hoặc hộ chiếu</div>
              <div>...</div>
            </div>
          </div>
        </div>
      </div>
      <div style="order: 2;" class="1mo-cell cell-content">
        <div class="percent-area">{{ item.interestRates.oneM.value }}%</div>
        <div class="details-area">{{ item.interestRates.oneM.period }} tháng</div>
      </div>
      <div style="order: 4;" class="3mo-cell cell-content">
        <div class="percent-area">{{ item.interestRates.threeM.value }}%</div>
        <div class="details-area">{{ item.interestRates.threeM.period }} tháng</div>
      </div>
      <div style="order: 5;" class="6mo-cell cell-content">
        <div class="percent-area">{{ item.interestRates.sixM.value }}%</div>
        <div class="details-area">{{ item.interestRates.sixM.period }} tháng</div>
      </div>
      <div style="order: 6;" class="9mo-cell cell-content">
        <div class="percent-area">{{ item.interestRates.nineM.value }}%</div>
        <div class="details-area">{{ item.interestRates.nineM.period }} tháng</div>
      </div>
      <div style="order: 7;" class="12mo-cell cell-content">
        <div class="percent-area">{{ item.interestRates.twelveM.value }}%</div>
        <div class="details-area">{{ item.interestRates.twelveM.period }} tháng</div>
      </div>
      <div style="order: 8;" class="13mo-cell cell-content">
        <div class="percent-area">{{ item.interestRates.eighteenM.value }}%</div>
        <div class="details-area">{{ item.interestRates.eighteenM.period }} tháng</div>
      </div>
      <div style="order: 9;" class="24mo-cell cell-content">
        <div class="percent-area">{{ item.interestRates.twentyFourM.value }}%</div>
        <div class="details-area">{{ item.interestRates.twentyFourM.period }} tháng</div>
      </div>
      <div style="order: 10;" class="36mo-cell cell-content foot">
        <div class="percent-area">{{ item.interestRates.thirtySixM.value }}%</div>
        <div class="details-area">{{ item.interestRates.thirtySixM.period }} tháng</div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>loading...</ng-template>
